* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background-color: black;
}
.header {
    background-color: black;
    background-image: url(bgcover.png);
    position: relative;
    align-items: center;
}
.logo {
width: 70px;
cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px 0;
    width: 85%;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: .1s;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a:hover {
    border: 1px solid white;
    border-radius: 3px;
    padding: 4px;
}
.content {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.home-content {
    height: 700px;
    width: 700px;
    margin-top: 50px;
}
.home-content-image {
    width: 700px;
    height: 400px;
    padding: 50px;
    border-radius: 90px 90px 90px 90px;
}
.content-caption {
    color: white;
    padding: 35px;
    height: auto;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.content-two {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 500px;
    border-bottom: 2.5px solid white;
}
.home-content-two {
    height: 700px;
    width: 100%px;
    position: relative;
}
.home-content-image-two {
    width: 550px;
    height: 400px;
    padding: 10px;
    border-radius: 50px 50px 50px 50px;
    bottom: 100px;
    margin-right: 100px;
    margin-left: 750px;
}
.content-caption-two {
    color: white;
    padding: 25px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 40%;
    position: absolute;
    margin-top: 100px;
    margin-left: 90px;
}
.products {
    position: relative;
    width: 100%;
    height: auto;
}
.new-release {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 45px;
}
.lightbig {
    margin-top: 20px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    width: 1200px;
    height: 600px;
    top: 100px;
}